body {
  background-color: #2b2b2b;
  color: rgb(236, 236, 236);
  font-family: 'Roboto', sans-serif;
  padding: 0 16px 16px;
}

/* @media (max-width: 480px) {
  body {
    background-color: #2b2b2b;
    color: rgb(236, 236, 236);
    font-family: 'Roboto', sans-serif;
    width: min-width;
  }
} */

.secondaryText {
  color: rgb(158, 158, 158);
}

#RECOILIZE {
  font-size: 4rem;
}

#navbar {
  width: 100%;
  background-color: #464646;
  font-family: Arial, Helvetica, sans-serif;
}

#github_link {
  margin-left: 1rem;
  height: 2rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(100deg)
    brightness(106%) contrast(101%);
}

#github_link:hover {
  filter: invert(66%) sepia(1%) saturate(61%) hue-rotate(98deg) brightness(92%)
    contrast(91%);
}

#navbar_logo {
  width: 2rem;
  margin-right: 1rem;
}

#hero_logo {
  display: flex;
  justify-content: center;
}

#hero {
  height: 15rem;
}

#gif_section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.gifPositioning {
  display: flex;
  justify-content: center;
  width: 100%;
}

.demoGifs {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  box-shadow: 4px 4px 4px rgb(232, 149, 249, 0.2);
}

.codeExample {
  border: 1px solid white;
  color: #6a00ff;
  background-color: rgb(173, 173, 173);
  border-radius: 3px;
  padding: 0.5rem 1rem;
}

.installation_photos {
  filter: invert(88%) sepia(1%) saturate(100%) hue-rotate(98deg) brightness(92%)
    contrast(91%);
  width: 100%;
  max-width: 900px;
}

#installationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.contributors {
  text-decoration: none;
  color: #e0cefc;
}

.contributors:hover {
  color: rgb(0, 201, 10);
}

#mainContainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
